* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-align: center;
  background-color: #758694;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 1.25rem;
  justify-content: center;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 4rem;
  color: white;
}

header > img {
  height: 3.75rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 30px;
  margin: 50px auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.add-todo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}

#logo {
  color: #008000;
}

#add-input {
  background-color: #d9d9d9;
  width: 37.5rem;
  padding: 0.9375rem 1.25rem;
  outline: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.65);
}

#add-btn {
  padding: 14px;
  color: green;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.divider {
  height: 0.0625rem;
  background-color: #868686;
  margin: 3.125rem 0rem;
  width: 100%;
}

.empty-todo {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: #973131;
  text-transform: uppercase;
  font-size: 2rem;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-bottom: 0.625rem;
  height: 50px;
  word-break: break-all;
}

.del-btn {
  border-radius: 0.3125rem;
  border: none;
  color: maroon;
  padding: 14px;
  width: 50px;
  cursor: pointer;

  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container > div {
  display: flex;
  width: 37.5rem;
  background-color: #d9d9d9;
  padding: 0.625rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.container > div > label {
  display: flex;
  text-align: left;
  gap: 10px;
  cursor: pointer;
}

span {
  word-wrap: break-word;
}

.hide {
  display: none;
  pointer-events: none;
}

input[type="checkbox"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
}

.container > div > label::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 2px;
  flex-shrink: 0;
  transition: 100ms ease all;
}

.container > div > label:hover::before,
input[type="checkbox"]:hover + label::before {
  content: "\002714";
  border: 2px solid #03532e;
  color: #03532e;
  font-size: 35px;
  display: flex;
  align-items: center;
}

input[type="checkbox"]:checked + label > span {
  text-decoration: line-through;
  color: rgb(79, 79, 79);
}

input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.56);
}

input[type="checkbox"]:checked + label::before {
  content: "\002714";
  border: 2px solid #008000;
  color: #008000;
  font-size: 35px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 720px) {
  header h1 {
    font-weight: 800;
  }

  main,
  .add-todo {
    width: 90%;
  }

  .empty-todo {
    font-size: 24px;
  }

  .container {
    width: 100%;
  }
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 45px;
  }

  header {
    margin-bottom: 20px;
  }

  main {
    font-size: 14px;
  }

  #add-input {
    font-size: 14px;
  }
}
